# For localhost development. Please change the values to your own for any other environment.
DEPLOYER_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80
ADMIN_ADDRESS=0x70997970C51812dc3A010C7d01b50e0d17dc79C8 
ADMIN_PRIVATE_KEY=0x59c6995e998f97a5a0044966f0945389dc9e86dae88c7a8412f4603b6b78690d # optional. required if GRANT_ROLE=true
RELAYER_ADDRESS=0x3C44CdDdB6a900fa2b585dd299e03d12FA4293BC
RELAYER_PRIVATE_KEY=0x5de4111afa1a4b94908f83103eb1f1706367c2e68ca870fc3fb9a804cdab365a # optional. required if you run relayDeposits.ts

# Initial tokens for liquidity contracts
INTMAX_TOKEN_ADDRESS='' # if set empty string, use the test erc20 token
WBTC_ADDRESS=0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599
USDC_ADDRESS=0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48

GRANT_ROLE=true # if true, grant role for contribution contract during deployment. ADMIN_PRIVATE_KEY must be set.
DEPLOY_MOCK_MESSENGER=true # if true, deploy mock messenger contract for testing
PLONK_VERIFIER_TYPE=normal # mock, faster-mining, normal
SLEEP_TIME=0 # sleep time in seconds between deployments

CONTRIBUTION_PERIOD_INTERVAL=604800 # contribution period interval in seconds
CLAIM_PERIOD_INTERVAL=86400 # claim period interval in seconds

ALCHEMY_KEY=
ETHERSCAN_API_KEY=
SCROLLSCAN_API_KEY=

PREDICATE_API_KEY=
PREDICATE_API_URL=https://staging.api.predicate.io
PREDICATE_AML_POLICY_ID="x-strict-membership-policy"
PREDICATE_AML_SERVICE_MANAGER=0xcb397f4bDF93213851Ef1c84439Dd3497Dff66c1
PREDICATE_ELIGIBILITY_POLICY_ID="x-strict-membership-policy"
PREDICATE_ELIGIBILITY_SERVICE_MANAGER=0xcb397f4bDF93213851Ef1c84439Dd3497Dff66c1
